/* 

TODO.

COLOR:
main:#D2B48C (tan)
##8cd2b4(green)
##b48cd2(purple)

maybe
#33dbff

*/
/* Set the background color of body to tan */
*{
    font-family: "europa", sans-serif;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width:75%;
    text-align: center;
    background-color: #D2B48C;
}

li{
    list-style: none;
}

h1{

    font-weight: 400;
    font-size: 2.5em;
}

h2{
    font-weight: 200;
    font-size: 2em;
    margin-bottom: 100px;
}

h3{
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 0;
}

h5{
    margin: 0;
}

p{
    margin-bottom: 0;
}

.hamburger{
    cursor: pointer;
    display: none;
}


.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul{
    margin-left:auto;
    margin-right:auto;
}

.navbar li{
    margin-left:20px;

}


.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.nav-link{
    flex: 1 1 auto;
    transition: 0.3s ease-out;
}
a{
    color: white;
}


a:hover{
    color: #8cd2b4;
}

a:visited{
    color: black;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

#front{
    margin-bottom: 25%;
}
.main {
    margin-top:20%;
    height: 80%;

}


#summary{
    width:75%;
    margin-left: auto;
    margin-right: auto;

}

#socialmedia img{
    width: 62px;
}

#all-projects{
    display: grid;
    align-items: center; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin: auto;

}

#all-projects img {
    width: 300px;
    height: 300px;
}

.projectItem{
    text-align: center;
}

#section-project h2{
    margin-bottom: 100px;
}

.center .container{
    display: inline-block;
}
.name{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blinking .8s infinite;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less, set the background color to olive
Mobile*/
@media screen and (max-width: 600px) {


    .container{
        width:100%;
    }
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: 100%;
        top: 70px;

        flex-direction: column;
        background-color: #b48cd2;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px, 0;
    }
    .nav-item a{
        color: white;
    }
    .nav-item a:visited{
        color: black;
    }


    .nav-menu.active{
        left: 0;
    }


    #socialmedia{
        text-align: center;
    }
    #socialmedia img{
        width: 62px;
    }

    #summary{
        margin: auto;
        width: 80%;
        line-height: 1.5;
    }

    .center{
        text-align: center;
    }

    /*Maybe delete later to find better photo*/
    .circular{
        border-top-left-radius: 50% 50%; 
        border-top-right-radius: 50% 50%; 
        border-bottom-right-radius: 50% 50%; 
        border-bottom-left-radius: 50% 50%;
    }

    #all-projects{
        margin: 0;
        padding: 0;
    }

    #all-projects img{
        display:none;
    }
}