/* 

TODO.

Figure out desktop vs mobile
Class vs ID
animation - keyframe vs js
add js
dont make alot of  class and id

COLOR:
main:#D2B48C (tan)
##8cd2b4(green)
##b48cd2(purple)

maybe
#33dbff


*/


/* Set the background color of body to tan */
*{
    font-family: "europa", sans-serif;
    padding: 0;

}


body {
    background-color: #D2B48C;    
}
li{
    list-style: none;
}
h1{

    font-weight: 400;
    font-size: 2.5em;
}
h2{
    font-weight: 200;
    font-size: 2em;
}


h3{
    font-weight: 100;
    font-size: 1.5em;
     margin-bottom: 0;
}

h5{
    margin: 0;
}
p{
    margin-bottom: 0;
}
.hamburger{
    cursor: pointer;
    display: none;
}

.container{
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
}

.container{
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.nav-link{
    transition: 0.3s ease-out;
}
.nav-link a{
    color: white;
}


.nav-link a:hover{
    color: #8cd2b4;
}

.nav-link a:visited{
    color: #b48cd2;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less, set the background color to olive
Mobile*/
@media screen and (max-width: 600px) {



    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: 100%;
        top: 70px;

        flex-direction: column;
        background-color: #b48cd2;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px, 0;
    }
    .nav-item a:visited{
        color: black;
    }


    .nav-menu.active{
        left: 0;
    }



    #socialmedia{
        text-align: center;
    }
    #socialmedia img{
        width: 62px;
    }

    #main {
        height: 80%;

    }

    #summary{
        margin: auto;
        width: 80%;
        line-height: 1.5;
    }

    .center{
        text-align: center;
        padding-top: 5%
    }

    /*Maybe delete later to find better photo*/
    .circular{
        border-top-left-radius: 50% 50%; 
        border-top-right-radius: 50% 50%; 
        border-bottom-right-radius: 50% 50%; 
        border-bottom-left-radius: 50% 50%;
    }

    #project{
        margin: 0;
        padding: 0;
    }

    #projects img{
        display:none;
    }
}