/* 

TODO.

Figure out desktop vs mobile
Class vs ID
animation - keyframe vs js
add js
dont make alot of  class and id

COLOR:
main:#D2B48Cf (tan)
##8cd2b4(green)
##b48cd2(purple)

maybe
#33dbff


*/


/* Set the background color of body to tan */
*{
    font-family: "europa", sans-serif;
}


body {
    background-color: #D2B48Cf;    
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less, set the background color to olive
Mobile*/
@media screen and (max-width: 600px) {



    body {
        background-color: #D2B48Cf;  
        max-width: 600px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        min-width:400px;

    }


    #nav {

        display:inline-block;
        text-align: left;
        width:400px;
    }

    #links li{

        display:inline-block;
        list-style-type: none;
        margin-right:25px;


    }

    h1{

        font-weight: 400;
        font-size: 2.5em;
    }
    
    h3{
        font-weight: 100;
        font-size: 1.5em;
    }
    
    #socialmedia{
        text-align: center;
    }
    #socialmedia img{
        width: 62px;
    }

    #main {
        height: 80%;
        height: 90vh;

    }

    #summary{
        margin:auto auto;
        width: 80%;
        line-height: 1.5;
    }

    .center{
        text-align: center;
        padding-top: 5%
    }
    
    /*Maybe delete later to find better photo*/
    .circular{
        border-top-left-radius: 50% 50%; 
        border-top-right-radius: 50% 50%; 
        border-bottom-right-radius: 50% 50%; 
        border-bottom-left-radius: 50% 50%;
    }


    #projects img{
        display:none;
    }
}