
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


nav{
    position: absolute;
	height: 64px;
	width: 100%;
	background-color: black;

	font-family: monospace;
	
}
nav ul{

	margin-top: 20px;
	font: 20px;
}
nav li{

	list-style: circle;
	text-decoration: none;
    display: inline;
	margin-right: 10px;
	margin-left: 30px;
}

nav a{
	color: #0F0;
}
canvas{
	z-index: -1;
}

/*
Main section
Want:
to make name drop down like the matrix and stop and start writing my name
type position under my name



*/
.hero{
	position: absolute;
	transform: translateY(300px);
	transition: transform 2s ease, opacity 2s ease;
	top:0%;
	left:50%;
	right:calc(50%+20px);
	color:white;
	width:10%;	
	opacity: 1;
	
}
 
  @keyframes move-char {
	0% { 
	  transform: translateY(-100%); 
	  
	}
	100% { 
	  transform: translateY(0); 
	  opacity: 1;
	}
  }


#matrix{
    width: 100%;
    height: 95vh;
}

.bsod{
	background-position: center top;
	background-image: url("img/BSOD2.png");
}

/*Projects*/

.folder{

	width: 420px;
	height: 310px;
	margin: 10em auto 10em;
  
	border-radius: 5px 25px 25px 25px;
	filter: drop-shadow(0 0 0.75rem grey);
  
	background: white;
	position: relative;
  }
  
  .folder::before{
	  content:  '';
	  position: absolute;
	  top: -18px;
	  width: 200px;
	  height: 25px;
	  background: white;
	  border-radius: 25px 0 0 0;
	  clip-path: path('M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z');
  }
  .folder::after{
	content: '';
	position: absolute;
	left:  40px;
	width: 85px;
	height: 5px;
	top: -18px;
	background: #7036E9;
	border-radius: 0 0 5px 5px;
  
  }